.decoderesult {
  margin-top: 50px;
  &__list {
    margin: 30px auto 0 auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    max-height: 700px;
    overflow-y: auto;
    padding: 10px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
    padding: 5px;
  }
  &__title {
    text-align: center;
    font-size: 22px;
    font-weight: normal;
    letter-spacing: 3px;
  }
  &__variable {
    width: 100px;
  }
  &__value {
    width: 150px;
  }
}
