.variable {
  max-width: 500px;
  margin: 0 auto;
  padding: 15px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  &__id {
    font-size: 18px;
    font-weight: 700;
  }
  &__return {
    width: fit-content;
    display: block;
    margin: 30px auto 0 auto;
    font-weight: 700;
  }
}
